.navbar {
  width: 100%;
}

.btn {
  color: #6f3f98 !important;
}



@media (max-width: 768px) {

  .navbar {
    justify-content: center !important;
    width: 100%;
  }

  .form-control {
    width: 150px !important;
  }

}